include MANIFEST.in
include README.rst
recursive-include django_nationalities/static *
recursive-include django_nationalities/locale *
recursive-include django_nationalities/management/commands *
recursive-include django_nationalities *.html
recursive-include django_nationalities/migrations *
recursive-include django_nationalities/fixtures *